@import "../../../../styles/variables.scss";

.params-table {
    width: 100%;

    td, th {
        color: $input-text-color;
        padding: 10px 8px;
        border-right: 24px solid $box-back-color;
        border-left: 24px solid $box-back-color;
    }
    th {
        border-bottom: 2px solid $input-text-color;
    }
}