.methods-dropdown {
    margin-right: 64px;
}

.methods-dropdown-button {
    margin-top: -4px;
}

.option-dropdown {
    display: block;
}

.data-selection-method__dropdown {
    height: 34px;
    line-height: 34px;
}