$input-text-color: #1089d8;
$box-back-color: #fafaf8;
$page-back-color: #f0f2f5;

$workzone-width: 1366px;
$font-size: 13px;

$title-color: rgba(51, 51, 51, 0.9);
$card-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);