@import '../../styles/style.scss';
@import '../../styles/variables.scss';

.formula-text {
    display: inline-block;
    width: 300px;
}

.formula-text-head {
    display: inline-block;
    margin-right: 8px;
    margin-left: 8px;
}

.formula-edit-btn {
    display: inline-block;
}

.formula-value {
    display: inline-block;
    width: 100px;
}

.direct-problem-input {
    @extend .transparent;
    width: 100px;
    margin-left: 8px;
    margin-right: 16px;
    font-weight: 600;
    font-size: 16px;
    color: $input-text-color;

    &:hover, &:focus, &:active, &:active:focus, &:active:hover, &.dropdown-toggle.btn.btn-default,
    &.dropdown-toggle, &.dropdown-toggle:focus, &.dropdown-toggle:hover, &.dropdown-toggle:active {
        @extend .transparent;
        color: $input-text-color;
    }
}

.add-formula-btn {
    width: 300px;
    text-align: center;
    padding: 4px 0px;
    margin-left: 55px;
    cursor: pointer;
    &>span {
        font-size: 20px;
        vertical-align: middle;
    }
}

.formula-row {
    margin-bottom: 8px;
}

.chart-box {
    margin-top: 24px;
}

.param-input {
    margin-left: 8px;
    margin-top: 8px;
    width: 100px;
}

.direct-box {
    padding: 20px;
    padding-top: 0px;
}

.compart-nav {
    &>li {
        >a:hover, >a:focus {
            border-color: transparent;
            background-color: transparent;
        }
    }
    &>li.active {
        >a, >a:hover, >a:focus {
            background-color: $box-back-color;
        }
    }
}

.loading-back {
    opacity: 0.5;
    pointer-events: none;
}

.loading-wheel {
    z-index: 1000;
    position: absolute;
    left: 45%;
    top: 30%;
    transform: translateY(-50%);

    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid $input-text-color; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.param-span {
    .mjx-chtml {
        width: 24px;
    }
}